{% extends 'base.html' %}

{% block left_menu %}
  <div class="ui simple dropdown item">
    Browse Hackathons
    <i class="dropdown icon"></i>
    <div class="menu">
        {% for hackathon in hackathons %}
        <a href="{% url 'projects:index' hackathon.number %}" class="item" > Hackathon #{{ hackathon.number }} </a>
        {% endfor %}
        {% if hackathons.count > 3 %}
            <a href="{% url 'hackathons:index' %}" class="item" > More </a>
        {% endif %}
    </div>
  </div>
{% endblock %}


{% block header %}
<div class="ui text container">
    <h1 class="ui inverted header">
        {% if hackathon %}
            Hackathon #{{ hackathon }}
        {% else %}
            Hackathon <i class="coffee icon"></i>
        {% endif %}
    </h1>
    {% if hackathon_open %}
        <h2>View, join or create projects for the next Hackathon.</h2>
        <a class="ui huge primary button" href="{% url 'projects:add_project' %}">Create Project&nbsp;<i class="plus icon"></i></a>
    {% else %}
        <h2>View projects for this Hackathon.</h2>
        <div class="ui huge black disabled button">&nbsp;</div>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="ui center aligned grid">
    <div class="left aligned twelve wide column">
        <div class="ui vertical stripe segment">

            <h2 class="ui header">Projects</h2>

            {% if projects %}

                <div class="ui three doubling stackable cards">
                {% for project in projects %}
                    <div class="ui fluid card">
                        <div class="content">
                            <a class="header" href="{% url 'projects:project' project.id %}" title="{{ project.name }}">
                                {{ project.name }}
                            </a>
                            <div class="meta" title="Participants requested">
                                {% if project.min_participants != project.max_participants %}
                                    {{ project.min_participants }} - {{ project.max_participants }} people,
                                {% elif project.min_participants == 1 %}
                                    {{ project.max_participants }} person,
                                {% else %}
                                    {{ project.max_participants }} people,
                                {% endif %}
                                {{ project.participating_users.count }} signed up
                            </div>
                            <div class="ui top right attached label" title="Project Lead">
                                {{ project.author }}
                            </div>
                            <div class="description">
                                {{ project.rich_description|safe|striptags|truncatechars:240 }}
                            </div>
                        </div>
                        <!-- form to join a project from using the join button -->
                        <form action="{% url 'projects:project' project.id %}" method="POST">
                        {% csrf_token %}
                            <div class="ui two bottom attached buttons">
                                <a class="ui button" title="View project" href="{% url 'projects:project' project.id %}">View</a>
                                {% if hackathon_open == True %}
                                {% if authenticated == True %}
                                    {% if user_participating_already == False %}
                                        <button type="submit" title="Join project" name="join" class="ui primary button">Join</a>
                                    {% elif current_users_project.id == project.id %}
                                        <div class="ui disabled primary button">Joined</div>
                                        |{{ current_users_project.id }}|
                                    {% endif %}
                                {% endif %}
                                {% endif %}
                            </div>
                        </form>
                    </div>
                {% endfor %}
                </div>

            {% else %}
                <p>This hackathon has no projects!</p>

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
